pillow
scikit_image
opencv_python_headless
streamlit
jupyter
matplotlib
pandas
numpy
scipy
tqdm
scikit-learn
seaborn
h5py
torch
torchvision
Poutyne
imgaug
torchsummary
albumentations
pytorch-lightning
timm
fastapi
segmentation_models_pytorch
mlflow
redis
pypeln
comet_ml
einops
gpustat