pillow
scikit_image
opencv_python_headless
streamlit
jupyter
matplotlib
pandas
numpy
scipy
tqdm
scikit-learn
seaborn
h5py
torch
torchvision
Poutyne
imgaug
torchsummary
albumentations
pytorch-lightning
mlflow
redis
pypeln
einops
gpustat
rich